@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply h-full bg-background;
  }

  :root {
    --background: 40 38% 97%;
    --foreground: 200 15% 25%;

    --card: 0 0% 100%;
    --card-foreground: 200 15% 25%;

    --popover: 0 0% 100%;
    --popover-foreground: 200 15% 25%;

    --primary: 25 70% 33%;
    --primary-foreground: 40 38% 97%;

    --secondary: 200 46% 55%;
    --secondary-foreground: 40 38% 97%;

    --muted: 25 25% 90%;
    --muted-foreground: 200 15% 45%;

    --accent: 15 60% 50%;
    --accent-foreground: 40 38% 97%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 40 38% 97%;

    --border: 25 25% 85%;
    --input: 25 25% 85%;
    --ring: 25 70% 33%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 200 50% 10%;
    --foreground: 40 38% 97%;

    --card: 200 45% 15%;
    --card-foreground: 40 38% 97%;

    --popover: 200 45% 15%;
    --popover-foreground: 40 38% 97%;

    --primary: 25 60% 50%;
    --primary-foreground: 40 38% 97%;

    --secondary: 200 46% 55%;
    --secondary-foreground: 40 38% 97%;

    --muted: 200 45% 25%;
    --muted-foreground: 40 38% 80%;

    --accent: 15 60% 50%;
    --accent-foreground: 40 38% 97%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 40 38% 97%;

    --border: 200 45% 25%;
    --input: 200 45% 25%;
    --ring: 25 60% 50%;

    --radius: 0.5rem;
  }
}